.imgHorizontal {
  width: 100%;
  height: auto;
  display: block;
}

#FirstTitle{
  padding-top: 10px;
}

.core {
  border: 2px;
  border-radius: 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.core section{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 50px;
}

.core section p{
  justify-content: left;
}

.core section button{
  background-color: #F2B552;
  border-radius: 2em;
  border: 0px;
  margin: 20px; 
  padding: 10px;
  gap: 10px;
  box-shadow: 10px 2px 10px black;
}

.core section button img{
  filter: brightness(0);
  margin: 5px;
  justify-content: center;
  align-items: center;
}


#gallery {
  display: flex;
  flex-flow: row wrap;
  list-style: none;
}

#gallery article {
  margin: 0;
  flex-basis: 50%;
}

#gallery img {
  width: 100%;
  aspect-ratio: 3 / 4;
  object-fit: cover;
  display: block;
}

.TitleSection {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 30px;
}

button{
  font-family: inherit;
}

.toupie{
  width: 200px;
}

.App{
  margin:0px;
  padding:0px;
}

#postDiv{
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  justify-content: center;
}

#postDiv section{
  margin: 50px;
}

.core section #discord{
  background-color: #7289DA;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 10px 2px 10px black;
}

.core section #discord:hover{
  color:white;
}

#discord img{
  width: 25px;
}

#discord img:hover{
  filter: brightness(255);
}

.event{
  background-color: #F2B552;
  border-radius: 2em;
  border: 0px;
  margin: 50px; 
  padding: 20px;
  max-width: 400px;
  box-shadow: 10px 2px 10px black;
}

.event img{
  width: 350px;
  height: 350px;
}

#ButtonEvent {
  background-color: #edc834;
  border-radius: 2em;
  border: 0.5px;
  margin: 20px; 
  padding: 10px;
  box-shadow: 10px 2px 10px black;
}

#Header{
  background: linear-gradient(to right,#F2B552,#edc834);
  padding: 30px;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 1000;
  box-shadow: 10px 2px 10px black;
}

#Header nav{
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
  gap: 20px;
}

#Header nav a{
  text-decoration: none;
  color: black;
  font-family: inherit;  
  font-weight: bold;
}

#Header nav a:hover{
  color: white;
}

#Header nav a img{
  width: 150px;
}

.Footer {
  background: linear-gradient(to right,#B262D4,#eb4be3);
  padding: 30px;
}

.Footer p{
  text-align: center;
}

.Footer div{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.Footer .navFoot{
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 50px;
  margin-right: 50px;
}

.Footer .navFootlink{
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 20px;
  margin-left: 50px;
}

.Neticon {
  filter: brightness(0);
  width: 50px;
  height: 50px;
}

#fixedButton{
  position: fixed;
  bottom: 150px;
  right: 100px; 
  width: 50px;
  height: 50px;
  background-color: #F2B552;
  border-radius: 2em;
  padding: 10px;
  box-shadow: 10px 2px 10px black;
}

.Network{
  box-shadow: 10px 2px 10px black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5em;
}

#listEvents{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center; 
  align-items: center;
}

#QuiSommesNous{
  padding-top: 150px;
}

#FirstWho{
  padding: 60px;
}

#QuiSommesNous section{
  padding: 60px;
}

#QuiSommesNous section h1{
  padding: 50px;
}

#Membre article{
  padding: 60px;
}

#Membre article h2{
  padding: 40px;
}

.Fondamember{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center; 
  align-items: center;
  gap: 30px;
}

.FondaCEO{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center; 
  align-items: center;
  gap: 100px;
}

.FondanameCEO{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center; 
  align-items: center;
  gap: 450px;
}

.Fondaname{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center; 
  align-items: center;
  gap: 270px;
}

.Fondaname strong{
  text-align: center;
}

.FondaCEO .imgFonda{
  width: 400px;
  height: auto;
}

.imgParis, .imgMarseille{
  width: 300px;
  height: auto;
}

.imgFonda, .imgParis, .imgMarseille {
  transition: transform 0.3s ease; 
}


.imgFonda:hover, .imgParis:hover, .imgMarseille:hover {
  transform: scale(1.1); 
}

#Stats{
  text-align: left;
}

#Stats p{
  padding: 20px;
}

.gros-titre{
  
  font-size: 2em;
  font-weight: bold;
}

@media (max-width: 768px) {

  #FirstTitle{
    padding-top: 150px;
  }

  #Header{
    padding: 15px;
  }

  #Header nav{
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }
  
  #fixedButton{
    visibility: hidden;
  }

  .core {
    height: auto;
    padding: 15px;
  }

  .core section{
    flex-direction: column;
    margin: 0px;
  }

  .core section p{
    justify-content: center;
  }

  .toupie{
    width: 150px;
  }

  .TitleSection {
    padding-top: 50px;
    padding-bottom: 10px;
  }

  .event{
    margin: 10px auto; 
    padding: 10px;
    max-width: 200px;
  }

  .event img{
    width: 150px;
    height: 150px;
  }

  .Footer {
    padding: 15px;
  }  

  .Footer div{
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }

  .Footer .navFootlink{
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 0px;
    
  }

  .Footer .navFootlink strong{
    font-size: small;
  }

  .Footer .navFoot{
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 0px;
  }

  .Footer p{
    font-size: small;
  }

  .Neticon {
    width: 40px;
    height: 40px;
  }
}